h1{
    font-family: Arial, Helvetica, sans-serif;
}
#MinhaFoto{
    float: left;
    height: 290px;
    padding: 3px;
    background-color: rgb(128, 128, 240);

}
#SobreMim{
    font-family: Impact, 'Arial Narrow Bold';
    position: absolute;
    right: 25px;
    left: 300px;
}
div {
    border: 5px solid red;
}
body{
    background-color: #8D99AE;
    color: white;
    padding: 2%;
}
strong{
    color: rgb(0, 255, 128);
    font-family: Helvetica;

}
.Soft-Skill {
    font-size: 18px;
}
.Hard-Skill {
    font-size: 16px;
}
#Image-Container{
    height: 300px;
    position: relative;
}
#MeuNome{
    text-align: center;
}
ul#MinhasHabilidades li:nth-child(odd){
    color: crimson;

}

/* ul li:nth-child(even){} */